<h2>S'inscrire</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.label :Prénom %><br />
  <%= f.text_field :first_name %>
  
  <%= f.label :Nom %><br />
  <%= f.text_field :last_name %>
  
  <%= f.label :description %><br />
  <%= f.text_field :description %>
  
  <!-- generate by devises -->
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "new-password", label: "mot_de_passe" %>
  
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, label: :confirmation_mot_de_passe, autocomplete: "new-password" %>
    
  <%= f.submit :Valider %>
<% end %>

<%= render "devise/shared/links" %>
