<%= form_with(model: user, local: true, class: "xform", url: user_path(@user), method: :put) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %><br />
    <%= form.text_area :description %><br />
  </div>

  <div class="field">
    <%= form.label :first_name %><br />
    <%= form.text_field :first_name %><br />
  </div>

  <div class="field">
    <%= form.label :last_name %><br />
    <%= form.text_field :last_name %><br />
  </div>

  <div class="actions">
    <%= form.submit  "Valider", class: "btn btn-primary m-2" %>
  </div>
<% end %>
