<p id="notice"><%= notice %></p>

<div class="p-5 mb-4 bg-light rounded-3 mt-2">
      <div class="container-fluid py-5 d-flex flex-column align-items-center">
        <h1 class="display-5 fw-bold mb-5">Accueil</h1>
        <p class="col-md-8 fs-4 m-5">Ce site vous permet de voir et de participer à des événements autour de vous,<br/> ainsi que de proposer vos propres évenements à la communauté</p>    
        <button class="btn btn-primary text-light"><%= link_to 'New Event', new_event_path, class: 'text-light text-decoration-none' %></button>
      </div>
</div>
<div class="container-fluid bg-light d-flex justify-content-center  mb-5">
        <h2 class="d-inline-flex display-7 fw-bold p-3">Events</h2>
</div>
<table class="table text-light border-top border-light border-1">
  <thead>
    <tr>
      <th scope="col">Start date</th>
      <th scope="col">Duration</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Location</th>
      <th scope="col" colspan="3"></th>
      
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td class="pt-3"><%= event.start_date %></td>
        <td class="pt-3"><%= event.duration %></td>
        <td class="pt-3"><%= event.title %></td>
        <td class="pt-3"><%= event.description %></td>
        <td class="pt-3"><%= event.price %></td>
        <td class="pt-3"><%= event.location %></td>
        <td>
        <%= link_to 'Show', event, class: 'text-light', class: "btn btn-primary " %>
        <%= link_to 'Edit', edit_event_path(event), class: 'text-light btn btn-xw ms-3 me-3' %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-ligh btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<button class="btn btn-primary text-light"><%= link_to 'New Event', new_event_path, class: 'text-light text-decoration-none' %></button>
<br>
<br>



