<!DOCTYPE html>
<html>
  <head>
    <title>EBv2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
    <div class="nav">
      <div><%= link_to "Accueil", root_path %></div>
      <div><%= link_to "Edit email / password", edit_user_registration_path %></div>
      <div><%= link_to "Secret page", static_pages_secret_path %></div>
      <% if user_signed_in? %>
        <div><%= link_to "Sign out", destroy_user_session_path, method: :delete %></div>
        <div><%= link_to "Profile", user_path(current_user) %></div>
      <% else %>
        <div><%= link_to "Sign in", new_user_session_path %></div>
        <div><%= link_to "Sign up", new_user_registration_path %></div>
      <% end %>
    </div>

    <img src="https://www.thebalancesmb.com/thmb/8tBxbptk4SV2ybxHFBkJ-kYGdhI=/2166x1384/filters:fill(auto,1)/business-meeting-5a21939198020700365c1e3f-5b798f9046e0fb0050056402.jpg" alt="banner">
    </header>
    <%= yield %>
  </body>
</html>
